
/* * Predefined Elements * */
$font-avenirLight: _avenirLight, Helvetica, sans-serif
$font-avenirMedium: _avenirMedium, Helvetica, sans-serif
$font-avenirHeavy: _avenirHeavy, Helvetica, sans-serif
$font-didot: _didot, Helvetica, sans-serif
$font-gothamXLight: _gothamXLight, Helvetica, sans-serif

// animation
@mixin transition($property, $duration, $type)
	-webkit-transition: $property $duration $type
	-moz-transition: 	$property $duration $type
	-ms-transition: 	$property $duration $type
	-o-transition: 		$property $duration $type
	transition: 		$property $duration $type

// transform
@mixin transform($property)
	-webkit-transform: 	$property
	-moz-transform: 	$property
	-ms-transform: 		$property
	-o-transform: 		$property
	transform: 			$property

// transform
@mixin transform-transit($property, $duration, $type)
	-webkit-transform: 	$property
	-moz-transform: 	$property
	-ms-transform:		$property
	-o-transform: 		$property
	transform: 			$property
	-webkit-transition: all $duration $type
	-moz-transition: 	all $duration $type
	-ms-transition: 	all $duration $type
	-o-transition: 		all $duration $type
	transition: 		all $duration $type

// border radius
=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius

// border
@mixin border( $coordinates: 0 0 0 0, $colour: #000000, $style: solid )
	$top: nth($coordinates, 1)
	$right: nth($coordinates, 2)
	$bottom: nth($coordinates, 3)
	$left: nth($coordinates, 4)
	
	@if not(unitless($top))
		border-top: $top $style $colour
	@if not(unitless($right))
		border-right: $right $style $colour
	@if not(unitless($bottom))
		border-bottom: $bottom $style $colour
	@if not(unitless($left))
		border-left: $left $style $colour



.hover
	@include transition(all, .1s, ease-in-out)


/* * Preloading * */

#preloadingContainer
	position: absolute
	width: 100%
	height: 100%
	overflow: hidden
	&.closed
		opacity: 0
	&.opened
		opacity: 1
		@include transition(all, .5s, ease-in-out)

.preloadingContentSlider
	position: absolute
	height: 100%
	width: 1.2rem
	background-color: #ffffff
	top: 0
	right: 0
	z-index: 5011
	@include transition(all, .5s, ease-in-out)

.goToAllProject
	position: absolute
	right: 4rem
	bottom: 3rem
	z-index: 5012
	padding: 1.2rem 2.4rem 0.8rem
	border-radius: 2.4rem
	color: #FFF
	letter-spacing: 0.2rem
	font-weight: 900
	font-family: $font-avenirMedium
	cursor: pointer
	word-wrap: break-word
	@include border(1px 1px 1px 1px, #FFF, solid)
	@include transition(all, .1s, ease-in-out)

	&.hovered
		//font-size: 110%
		background: #FFF
		color: #000!important
		@include border(0px 0px 0px 0px, #FFF, solid)
		//right: 3.6rem
		//bottom: 2.8rem



.heroProject
	width: 100%
	height: 0%
	position: absolute
	z-index: 5001
	overflow: hidden
	@include transition(all, 0.75s, ease-in-out)

	&.opened
		height: 100%

	img
		position: absolute
		@include transition(all, 0.75s, ease-in-out)

	.bg
		position: absolute
		width: 100%
		height: 100%

	.heroTextContainer
		margin: auto
		position: absolute
		z-index: 5002
		bottom: -20%
		width: 100%
		word-wrap: break-word
		@include transition(all, .5s, ease-in-out)

		h1, h2, .viewProject
			margin-left: 2rem
			color: white
			margin-top: 1.8rem
			margin-bottom: 1.8rem
			max-width: 70%

			a
				text-decoration: none
				color: #000
				
		h1
			font-family: $font-gothamXLight
			font-size: 6.4rem
			font-weight: 20
			line-height: 7.2rem
			letter-spacing: 1.8rem
			
		h2
			font-size: 1.6rem
			font-weight: 900
			line-height: 2.4rem
			
		.myTitle
			font-weight: 100
			font-family: $font-gothamXLight
			
		.underline
			margin-left: 2rem
			width: 5%
			@include border(0 0 1px 0, #FFF, solid)


	&.focused

		.heroTextContainer
			bottom: 0%

#heroProject1
	background: linear-gradient(134deg, #2A3541, #000000)

	img
		top: 80%
		right: 10%
		width: 40%
		opacity: 0.8

	.viewProject
		padding: 1.2rem 2.4rem 0.8rem
		border-radius: 2.4rem
		letter-spacing: 0.2rem
		font-weight: 100
		font-family: $font-gothamXLight
		cursor: pointer
		word-wrap: break-word
		width: 10.2rem
		@include border(1px 1px 1px 1px, #FFF, solid)
		@include transition(all, .1s, ease-in-out)	

		a
			color: #FFF!important


	&.focused
		img
			top: 10%

#heroProject2
	//background: linear-gradient(134deg, #4377ED, #8C4CEB)
	background: linear-gradient(134deg, #68B3D7, #34D9DE)

	.heroTextContainer
		h1, h2
			color: black
		.underline
			@include border(0 0 1px 0, #000, solid)

	img
		top: 70%
		right: 10%
		height: 100%


	.shadow
		height: 110%

	&.focused
		img
			top: 10%

#heroProject3
	
	img
		width: 110%
		opacity: 0.3

	#bg1, #bg2, #bg3
		height: 34%

	#bg1
		background: linear-gradient(134deg, #E7AD2A, #FF3A90)

	#bg2
		top: 34%
		background: linear-gradient(-29deg, #BB56D3, #FF3A90)

	#bg3
		top: 68%
		background: linear-gradient(38deg, #BB56D3, #FF3A90)

#heroProject4
	background: linear-gradient(134deg, #FDFF28, #5FFDAB)

	.heroTextContainer
		h1, h2
			color: black
		
		.underline
			@include border(0 0 1px 0, #000, solid)

	img
		height: 32%
		right: 5%
		top: 80%


	#bg1, #bg2, #bg3
		height: 50.5%

	#bg1
		top: 0
		background: linear-gradient(134deg, #FDFF28, #5FFDAB)
		background: linear-gradient(134deg, #FF4F58, #FD6F48)

	#bg2
		top: 50%
		background: linear-gradient(-62deg, #70FDFD, #FDFF28)
		background: linear-gradient(-62deg, #FF4F58, #FD6F48)
	
	.mainHeroCTA
		position: absolute
		top: 45%
		width: 16rem
		left: 36%
		//width: 36rem
		//font-family: $font-gothamXLight
		text-align: center
		text-transform: uppercase
		z-index: 5012
		padding: 1.8rem 3.6rem 1.4rem
		border-radius: 4.2rem
		letter-spacing: 0.8rem
		font-weight: 900
		font-size: 1.4rem
		background-color: rgba(255,255,255, 0.6)
		box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.4)
		cursor: pointer
		//@include border(8px 8px 8px 8px, #FFF, solid)

		a
			color: #000!important

		&.hovered
			top: 44.7%
			left: 35.5%
			padding: 1.9rem 4.0rem 1.5rem
			font-size: 1.5rem
			background-color: rgba(255,255,255, 0.8)
			box-shadow: 5px 10px 70px rgba(0, 0, 0, 0.3)
		

	&.focused
		img
			height: 82%
			top: 5%

#heroProject5
	
	background: linear-gradient(134deg, #000000, #000000)

	img
		top: 0
		width: 115%
		opacity: 0.5
	


#preloadingSlide
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	


#preloadingContainer, #preloadingSlide, .heroTextContainer
	.closed
		display: none
	.opened
		display: block

/* * Filter * */

.svg-wrapper
	display: none
	position: absolute
	top: 15px
	right: 15px
	width: 60px
	z-index: 3001
	height: 60px
	cursor: pointer
	background-color: rgba(#000 , .2)

	&.loaded
		display: block

	&.open
		background-color: rgba(#000 ,0)

		span:nth-child(1)
			top: 32px
			background: #000;
			@include transform(rotate(135deg))
			@include transition(all, .25s, ease-in-out)
		span:nth-child(2)
			opacity: 0
			left: -60px
		span:nth-child(3)
			top: 32px
			background: #000;
			@include transform(rotate(-135deg))
			@include transition(all, .25s, ease-in-out)

		.shape
			stroke: #000

	&:hover .shape
		stroke-width: 1px
		stroke-dashoffset: 0
		stroke-dasharray: 760;

	span
		display: block
		position: absolute
		height: 1px
		width: 50%
		background: #FFF
		opacity: 1
		left: 25%
		@include transform(rotate(0deg))
		@include transition(all, .25s, ease-in-out)

		&:nth-child(1)
			top: 20px
		&:nth-child(2)
			top: 30px
		&:nth-child(3)
			top: 40px
		&:nth-child(4)
			top: 30px
	&rect
		cursor: pointer

.svg-wrapper, .shape
	stroke-dasharray: 140 540
	stroke-dashoffset: -474
	stroke-width: 1px
	fill: transparent
	stroke: #FFF
	@include transition(all, 1s, ease-in-out)


#projectFilter

.filterOverlay
	position: absolute
	z-index: 2001
	background-color: rgba(#FFF,0.85)
	width: 50%

#filterL
	left: 0px
	display: inherit
	&.filterOpened
		height: 100%
		@include transition(height, .4s, ease-out)
	&.filterClosed
		height: 0px;
		@include transition(height, .3s, ease-out)
		transition-delay: 0.1s
#filterR
	left: 50%
	&.filterOpened
		height: 100%
		@include transition(height, .4s, ease-out)
		transition-delay: 0.2s
	&.filterClosed
		height: 0px
		@include transition(height, .3s, ease-out)

.filterTexts
	position: absolute
	z-index: 2002
	width: 100%
	height: 100%
	&.filterOpened
		top: 0px
	&.filterClosed
		top: -1200px

.filterOpenedAppear
	visibility: visible
.filterClosedDisappear
	visibility: hidden
	-webkit-transition: visibility .2s
	transition: visibility .2s

#_headerCategoryMenu, #_headerRoleMenu, #_headerSoftMenu
	color: rgba(0,0,0,1)
	width: 100%
	height: 10%
	margin: 10% 0rem 8rem 0rem
	text-align: center
	cursor: pointer
	
	li
		list-style: none
		cursor: pointer
		vertical-align: middle

#_headerCategoryMenu
	li
		font-style: $font-avenirHeavy
		font-weight: 900
		text-transform: uppercase
		font-size: 2.6rem
		line-height: 7.6rem
		letter-spacing: 1rem
		
	&.filterOpened
		opacity: 0.8
		@include transition(opacity, .8s, ease-out)
		transition-delay: 0.8s
	&.filterClosed
		opacity: 0
		@include transition(opacity, .2s, ease-out)


.sortButton
	opacity: 1;
	&.selected
		opacity: 1;
		@include transition(opacity, .4s, ease-out)
	&.unselected
		opacity: 0.25;
		@include transition(opacity, .4s, ease-out)

/* * Filter * */


/* * PROJECT * */

#projectContainer
	display: none
	position: absolute
	overflow-x: hidden
	overflow-y: scroll
	z-index: 2000
	width: 100%
	height: 100%
	-webkit-overflow-scrolling: touch

	&.loaded
		display: block

.project
	position: absolute
	overflow: hidden !important
	-webkit-backface-visibility: hidden
	-moz-backface-visibility: hidden
	-webkit-transform: translate3d(0, 0, 0)
	-moz-transform: translate3d(0, 0, 0)
	cursor: pointer


	&.opened
		@include transform(scale(1,1))
		@include transition(all, 0.4s, ease-out)
	&.closed
		@include transform(scale(0,0))
		@include transition(all, 0.4s, ease-out)

	// Black Overlay
	.img-over
		position: absolute
		background-color: #000
		opacity: 0.5

		&.closed
			width: 0%
			height: 0%
			left: 0px
			top: 0px
		&.opened
			width: 100%
			height: 100%
			margin-left: 0px
			margin-top: 0px
		&.prepareOpenFromLeft
			width: 0%
			height: 100%
			margin-left: 0px
			margin-top: 0px
		&.openedFromLeft
			width: 100%;
			@include transition(width, .2s, ease-out)
		&.prepareOpenFromRight
			width: 0%
			height: 100%
			margin-top: 0px
			margin-left: 600px
		&.openedFromRight
			width: 100%
			margin-left: 0px
			@include transition(all, .2s, ease-out)
		&.prepareOpenFromTop
			width: 100%
			height: 0%
			margin-left: 0px
			margin-top: 0px
		&.openedFromTop
			height: 100%
			@include transition(height, .2s, ease-out)
		&.prepareOpenFromBottom
			width: 100%
			height: 0%
			margin-left: 0px
			margin-top: 500px
		&.openedFromBottom
			height: 100%
			margin-top: 0px;
			@include transition(all, .2s, ease-out)
		&.closedToLeft
			width: 0%
			height: 100%;
			@include transition(all, .2s, ease-out)
		&.closedToRight
			width: 0%
			height: 100%
			margin-left: 600px
			@include transition(all, .2s, ease-out)
		&.closedToTop
			width: 100%
			height: 0%
			@include transition(all, .2s, ease-out)
		&.closedToBottom
			width: 100%
			height: 0%
			margin-top: 600px
			@include transition(all, .3s, ease-out)


	.img-container
		position: relative
		overflow: hidden

		img
			position: absolute

			&.primary
				&.opened
					opacity: 0
					@include transition(all, .5s, ease-out)
				&.closed
					opacity: 1
					@include transition(all, .8s, ease-out)
			
			&.secondary
				&.opened
					@include transform-transit(scale(1.3,1.3), 8s, linear)
				&.closed
					@include transform-transit(scale(1,1), 2s, linear)
					

	.img-over-caption
		position: relative
		width: 100%
		height: 45%
		color: #000
		padding: 0
		-webkit-user-select: none /* Chrome/Safari */
		-moz-user-select: none /* Firefox */
		-ms-user-select: none /* IE10+ */
		-o-user-select: none
		user-select: none


		h1
			font-size: 1.4rem !important
			letter-spacing: 0.02rem
			font-weight: 300
			font-family: $font-didot
			padding: 0
			margin-bottom: 0rem

		h3
			font-size: 1.0rem !important
			font-weight: 100
			line-height: 1.6rem!important
			padding: 0

		// -- Version 2
		h1
			padding-top: 0%
			margin-top: 4%
		//	font-family: $font-avenirLight
		//	font-weight: 100
		//	text-transform: uppercase
			//font-size: 2.4rem!important
			letter-spacing: 0.4rem
		h1, h3
			text-align: left

			span
				display: inline-block
				vertical-align: middle


		// TODO: MOBILE... 
		// &.mobile
		//	position: inherit
		//	opacity: 1
		//	color: #000

		//	h1
		//		font-size: 1.2rem

	img
		position: relative
		width: 100%

/* * PROJECT * */



/* * FOOTER * */

#videocontainer
	display: block
	margin: 100px auto
	width: 800px
	height: 450px
	border: none

/* * FOOTER * */



/* * Media Heights * */

//@media screen and (max-height: 2000px)
	

//@media screen and (max-height: 1600px)
	

//@media screen and (max-height: 1080px)
	

/* * Media Heights * */

/* * Media Width * */

@media screen and (max-width: 1600px)
	
	/* Filter */

	#_headerCategoryMenu li
		font-size: 3.2rem
		line-height: 7.2rem
	
	/* Filter */

@media screen and (max-width: 1024px)
	
	/* Hero */
	.goToAllProject
		right: 2rem
		bottom: 1.6rem
		font-size: 0.8rem
		padding: 0.8rem 1.8rem 0.6rem
	.preloadingContentSlider
		width: 0.6rem
	
	.heroProject

		.heroTextContainer

			h1, h2
				margin-top: 0.8rem
				margin-bottom: 0.8rem

			h1
				font-size: 2.8rem
				line-height: 3.6rem
				letter-spacing: 0.6rem
			h2
				font-size: 1.2rem
				line-height: 1.6rem
			.myTitle
				font-size: 1.0rem

		&.focused

			.heroTextContainer
				bottom: 4.6rem
	
	#heroProject1
		img
			top: 10%
			right: -10%
			width: 80%

	#heroProject3
		img
			height: 100%
			right: 0%

	#heroProject4
		.mainHeroCTA
			top: 3rem
			width: 12rem
			left: 20%
			padding: 1.0rem 1.4rem 0.8rem
			border-radius: 4.2rem
			letter-spacing: 0.4rem
			font-size: 1.0rem
			background-color: rgba(255,255,255, 1)

	#heroProject5
		img
			height: 100%
			right: 0%
	/* Hero */

	/* Filter */

	#_headerCategoryMenu
		
		li
			font-size: 2.4rem
			line-height: 7.2rem

	
	/* Filter */


@media screen and (max-width: 760px)

	/* Filter */

	#_headerCategoryMenu
		
		li
			font-size: 1.8rem
			line-height: 9.6rem
			letter-spacing: 0.7rem

	/* Filter */

@media screen and (max-width: 640px)
	
	/* Filter */
	
	#filterL
		width: 100%
		height: 100%
	#filterR
		display: none
	
	#_headerCategoryMenu
		li
			font-size: 1.2rem
			line-height: 4.2rem

	/* Filter */
