
/* * Predefined Elements * */
$font-avenirLight: _avenirLight, Helvetica, sans-serif
$font-avenirMedium: _avenirMedium, Helvetica, sans-serif
$font-didot: _didot, Helvetica, sans-serif
$font-gothamXLight: _gothamXLight, Helvetica, sans-serif

// animation
@mixin transition($property, $duration, $type)
	-webkit-transition: $property $duration $type
	-moz-transition: 	$property $duration $type
	-ms-transition: 	$property $duration $type
	-o-transition: 		$property $duration $type
	transition: 		$property $duration $type

// transform
@mixin transform($property)
	-webkit-transform: 	$property
	-moz-transform: 	$property
	-ms-transform: 		$property
	-o-transform: 		$property
	transform: 			$property

// transform
@mixin transform-transit($property, $duration, $type)
	-webkit-transform: 	$property
	-moz-transform: 	$property
	-ms-transform:		$property
	-o-transform: 		$property
	transform: 			$property
	-webkit-transition: all $duration $type
	-moz-transition: 	all $duration $type
	-ms-transition: 	all $duration $type
	-o-transition: 		all $duration $type
	transition: 		all $duration $type

// border radius
=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius

// border
@mixin border( $coordinates: 0 0 0 0, $colour: #000000, $style: solid )
	$top: nth($coordinates, 1)
	$right: nth($coordinates, 2)
	$bottom: nth($coordinates, 3)
	$left: nth($coordinates, 4)
	
	@if not(unitless($top))
		border-top: $top $style $colour
	@if not(unitless($right))
		border-right: $right $style $colour
	@if not(unitless($bottom))
		border-bottom: $bottom $style $colour
	@if not(unitless($left))
		border-left: $left $style $colour


/* * Preloading * */

#preloadingContainer
	position: absolute
	width: 100%
	height: 100%
	overflow: hidden
	&.closed
		opacity: 0
	&.opened
		opacity: 1
		@include transition(all, .5s, ease-in-out)

#preloadingSlide
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 5001
	background-color: #55CFFF

#textWrapper
	margin: auto
	position: absolute
	z-index: 5002
	top: 30%
	width: 100%

	h1, h2
		margin-left: 2rem
		color: white
		left: 0
			
	h1
		font-size: 4.8rem
		font-weight: 800
		line-height: 2.8rem
	h2
		font-size: 1.8rem
		font-weight: 900
		line-height: 1.2rem
		
	.myTitle
		font-weight: 100
		font-size: 1.8rem
		font-family: $font-gothamXLight
		
	.underline
		margin-left: 2rem
		width: 5%
		@include border(0 0 1px 0, #FFF, solid)

#preloadingContainer, #preloadingSlide, #textWrapper
	.closed
		display: none
	.opened
		display: block

/* * Filter * */

.svg-wrapper
	position: absolute
	top: 15px
	right: 15px
	width: 60px
	z-index: 3001
	height: 60px
	cursor: pointer
	background-color: rgba(#000 , .2)

	&.open
		background-color: rgba(#000 ,0)

		span:nth-child(1)
			top: 32px
			background: #000;
			@include transform(rotate(135deg))
			@include transition(all, .25s, ease-in-out)
		span:nth-child(2)
			opacity: 0
			left: -60px
		span:nth-child(3)
			top: 32px
			background: #000;
			@include transform(rotate(-135deg))
			@include transition(all, .25s, ease-in-out)

		.shape
			stroke: #000

	&:hover .shape
		stroke-width: 1px
		stroke-dashoffset: 0
		stroke-dasharray: 760;

	span
		display: block
		position: absolute
		height: 1px
		width: 50%
		background: #FFF
		opacity: 1
		left: 25%
		@include transform(rotate(0deg))
		@include transition(all, .25s, ease-in-out)

		&:nth-child(1)
			top: 20px
		&:nth-child(2)
			top: 30px
		&:nth-child(3)
			top: 40px
		&:nth-child(4)
			top: 30px
	&rect
		cursor: pointer

.svg-wrapper, .shape
	stroke-dasharray: 140 540
	stroke-dashoffset: -474
	stroke-width: 1px
	fill: transparent
	stroke: #FFF
	@include transition(all, 1s, ease-in-out)


#projectFilter

.filterOverlay
	position: absolute
	z-index: 2001
	background-color: rgba(#FFF,0.85)
	width: 50%

#filterL
	left: 0px
	display: inherit
	&.filterOpened
		height: 3000px
		@include transition(height, .4s, ease-out)
	&.filterClosed
		height: 0px;
		@include transition(height, .3s, ease-out)
		transition-delay: 0.1s
#filterR
	left: 50%
	&.filterOpened
		height: 3000px
		@include transition(height, .4s, ease-out)
		transition-delay: 0.2s
	&.filterClosed
		height: 0px
		@include transition(height, .3s, ease-out)

.filterTexts
	position: absolute
	z-index: 2002
	width: 100%
	&.filterOpened
		top: 0px
	&.filterClosed
		top: -1200px

.filterOpenedAppear
	visibility: visible
.filterClosedDisappear
	visibility: hidden
	-webkit-transition: visibility .2s
	transition: visibility .2s

#_headerCategoryMenu, #_headerRoleMenu, #_headerSoftMenu
	color: rgba(0,0,0,1)
	width: 100%
	height: 10%
	margin: 10% 0rem 8rem 0rem
	text-align: center
	cursor: pointer
	
	li
		list-style: none
		display: inline
		cursor: pointer
		vertical-align: middle
	span
		display: inline-block

#_headerCategoryMenu
	span
		font-weight: bold
		font-size: 3rem
		margin: 1rem 3rem
	&.filterOpened
		opacity: 0.8
		@include transition(opacity, .8s, ease-out)
		transition-delay: 0.8s
	&.filterClosed
		opacity: 0
		@include transition(opacity, .2s, ease-out)

#_headerRoleMenu
	span
		font-style: italic
		font-family: $font-didot
		font-size: 4.2rem
		margin: 1rem 3rem
	&.filterOpened
		opacity: 0.8
		@include transition(opacity, .8s, ease-out)
		transition-delay: 1.0s
	&.filterClosed
		opacity: 0
		@include transition(opacity, .2s, ease-out)

#_headerSoftMenu
	span
		font-style: italic
		font-weight: bold
		font-size: 2rem
		margin: 1rem 3rem
	&.filterOpened
		opacity: 0.8
		@include transition(opacity, .8s, ease-out)
		transition-delay: 1.2s
	&.filterClosed
		opacity: 0;
		@include transition(opacity, .2s, ease-out)


.sortButton
	opacity: 1;
	&.selected
		opacity: 1;
		@include transition(opacity, .4s, ease-out)
	&.unselected
		opacity: 0.25;
		@include transition(opacity, .4s, ease-out)

/* * Filter * */


/* * PROJECT * */

#projectContainer
	position: absolute
	overflow-x: hidden
	overflow-y: scroll
	z-index: 2000
	width: 100%
	height: 100%
	-webkit-overflow-scrolling: touch

.project
	position: absolute
	overflow: hidden !important
	-webkit-backface-visibility: hidden
	-moz-backface-visibility: hidden
	-webkit-transform: translate3d(0, 0, 0)
	-moz-transform: translate3d(0, 0, 0)
	cursor: pointer


	&.opened
		@include transform(scale(1,1))
		@include transition(all, 0.4s, ease-out)
	&.closed
		@include transform(scale(0,0))
		@include transition(all, 0.4s, ease-out)

	// Black Overlay
	.img-over
		position: absolute
		background-color: #000
		opacity: 0.5

		&.closed
			width: 0%
			height: 0%
			left: 0px
			top: 0px
		&.opened
			width: 100%
			height: 100%
			margin-left: 0px
			margin-top: 0px
		&.prepareOpenFromLeft
			width: 0%
			height: 100%
			margin-left: 0px
			margin-top: 0px
		&.openedFromLeft
			width: 100%;
			@include transition(width, .2s, ease-out)
		&.prepareOpenFromRight
			width: 0%
			height: 100%
			margin-top: 0px
			margin-left: 600px
		&.openedFromRight
			width: 100%
			margin-left: 0px
			@include transition(all, .2s, ease-out)
		&.prepareOpenFromTop
			width: 100%
			height: 0%
			margin-left: 0px
			margin-top: 0px
		&.openedFromTop
			height: 100%
			@include transition(height, .2s, ease-out)
		&.prepareOpenFromBottom
			width: 100%
			height: 0%
			margin-left: 0px
			margin-top: 500px
		&.openedFromBottom
			height: 100%
			margin-top: 0px;
			@include transition(all, .2s, ease-out)
		&.closedToLeft
			width: 0%
			height: 100%;
			@include transition(all, .2s, ease-out)
		&.closedToRight
			width: 0%
			height: 100%
			margin-left: 600px
			@include transition(all, .2s, ease-out)
		&.closedToTop
			width: 100%
			height: 0%
			@include transition(all, .2s, ease-out)
		&.closedToBottom
			width: 100%
			height: 0%
			margin-top: 600px
			@include transition(all, .3s, ease-out)

	.img-container
		position: absolute
		width: 100%
		height: 100%
		&.opened
			@include transform-transit(scale(1.3,1.3), 8s, linear)
		&.closed
			@include transform-transit(scale(1,1), 2s, linear)

	.img-over-caption
		position: absolute
		width: 90%
		height: 90%
		text-align: center
		color: white
		padding: 20px
		-webkit-user-select: none /* Chrome/Safari */
		-moz-user-select: none /* Firefox */
		-ms-user-select: none /* IE10+ */
		-o-user-select: none
		user-select: none

		&.opened
			opacity: 1
			@include transform(scale(1,1))
			@include transition(all, 0.6s, ease-in-out)
		&.closed
			opacity: 0
			@include transform(scale(1.2,1.2))
			@include transition(all, 0.2s, ease-in-out)

		h1
			padding-top: 10%
			font-family: $font-gothamXLight
			font-size: 3.2rem
			letter-spacing: 0.1rem

		h3
			font-size: 1.6rem
			font-weight: 100
			line-height: 2.4rem!important

		// -- Version 2
		h1
			padding-top: 0%
			margin-top: 4%
		//	font-family: $font-avenirLight
		//	font-weight: 100
		//	text-transform: uppercase
			//font-size: 2.4rem!important
			letter-spacing: 0.4rem
		h1, h3
			padding-left: 2%
			text-align: left

			span
				display: inline-block
				vertical-align: middle

		// TODO: MOBILE... 
		// &.mobile
		//	position: inherit
		//	opacity: 1
		//	color: #000

		//	h1
		//		font-size: 1.2rem

	img
		position: relative
		width: 100%

/* * PROJECT * */



/* * FOOTER * */

#videocontainer
	display: block
	margin: 100px auto
	width: 800px
	height: 450px
	border: none

/* * FOOTER * */



/* * Media Heights * */

@media screen and (max-height: 2000px)
	#filterL
		&.filterOpened
			height: 2020px
	#filterR
		&.filterOpened
			height: 2020px
@media screen and (max-height: 1600px)
	#filterL
		&.filterOpened
			height: 1620px
	#filterR
		&.filterOpened
			height: 1620px
@media screen and (max-height: 1080px)
	#filterL
		&.filterOpened
			height: 1100px
	#filterR
		&.filterOpened
			height: 1100px

/* * Media Heights * */

/* * Media Width * */

@media screen and (max-width: 1600px)
	
	/* Filter */

	#_headerCategoryMenu span
		font-size: 3.2rem
	#_headerRoleMenu span
		font-size: 3.2rem
	#_headerSoftMenu span
		font-size: 1.6rem
	
	/* Filter */

@media screen and (max-width: 1024px)

	/* Filter */

	#_headerCategoryMenu, #_headerRoleMenu
		display: table
		margin: 4rem 0rem

		span
			display: table-row
			font-size: 2.4rem
			line-height: 5.2rem

	#_headerSoftMenu
		display: none
	
	/* Filter */

@media screen and (max-width: 760px)

	/* Filter */

	#_headerCategoryMenu, #_headerRoleMenu
		margin: 4rem 0rem
		span
			font-size: 2.4rem
			line-height: 3.6rem

	/* Filter */

@media screen and (max-width: 640px)
	
	/* Filter */
	
	#filterL
		width: 100%
	#filterR
		display: none
	
	#_headerCategoryMenu, #_headerRoleMenu
		margin: 2.4rem 0rem
		span
			font-size: 2rem
			line-height: 3.2rem

	/* Filter */