@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed)

/* * Predefined Elements * */

// fonts
$font-default: Helvetica Arial sans-serif
$font-didot: Didot, Helvetica, sans-serif
$font-railway: Raleway, Helvetica, sans-serif
$font-roboto: Roboto Condensed, Helvetica, sans-serif
$font-didot: Didot, Helvetica, sans-serif
$font-gotham: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif

// animation
@mixin transition($property, $duration, $type)
	-webkit-transition: $property $duration $type
	-moz-transition: 	$property $duration $type
	-ms-transition: 	$property $duration $type
	-o-transition: 		$property $duration $type
	transition: 		$property $duration $type

// transition delay
@mixin transition-delay($duration)
	-webkit-transition-delay: $duration
	-moz-transition-delay:    $duration
	-ms-transition-delay:     $duration
	-o-transition-delay:      $duration
	transition-delay:   

// transform
@mixin transform($property)
	-webkit-transform: 	$property
	-moz-transform: 	$property
	-ms-transform: 		$property
	-o-transform: 		$property
	transform: 			$property

// transform
@mixin transform-transit($property, $duration, $type)
	-webkit-transform: 	$property
	-moz-transform: 	$property
	-ms-transform:		$property
	-o-transform: 		$property
	transform: 			$property
	-webkit-transition: all $duration $type
	-moz-transition: 	all $duration $type
	-ms-transition: 	all $duration $type
	-o-transition: 		all $duration $type
	transition: 		all $duration $type

// border radius
=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius

// border
@mixin border( $coordinates: 0 0 0 0, $colour: #000000, $style: solid )
	$top: nth($coordinates, 1)
	$right: nth($coordinates, 2)
	$bottom: nth($coordinates, 3)
	$left: nth($coordinates, 4)
	
	@if not(unitless($top))
		border-top: $top $style $colour
	@if not(unitless($right))
		border-right: $right $style $colour
	@if not(unitless($bottom))
		border-bottom: $bottom $style $colour
	@if not(unitless($left))
		border-left: $left $style $colour


/* * HEADER  * */

header
	color: #FFF
	animation-name: example
	animation-duration: 100s
	animation-iteration-count: infinite

	h1
		font-size: 1rem
		font-family: $font-roboto

	h2
		font-size: 1.6rem
		font-family: $font-didot
		font-style: italic

	nav
		position: fixed
		width: 100%
		height: 0px
		overflow: hidden
		@include border(0 0 1px 0, #CCC, solid)
		background-color: #FFF
		z-index: 100000

		li, li ul li
			padding: 0px 2rem
			display: inline-block
			font-family: $font-roboto

		a
			font-size: 1rem
			color: #000

			&.animatedunderline
				&:hover
					color: #000
				&:after
					background-color: #000

		&.headerOpened
			height: 76px
			@include transition(height, .2s, ease-out)

		&.headerClosed
			height: 0px
			@include transition(height, .2s, ease-out)

/* * Predefined Elements * */

/* * PROJECT * */

.singleProjectBody
	padding-top: 20px
	text-align: left
	color: #000
	padding: 20px 15px
	margin-bottom: 120px
	background: rgba(#FFF,255.5)

	@include transition(padding-top, .2s, ease-out)

	&.headerClosed
		padding-top: 20px;
	&.headerOpened
		padding-top: 60px;

// Caption
.singleProjectInfoContainer
	max-width: 900px
	margin: 0px auto
._projectTitle, ._projectSubttle
	text-align: left
	font-family: $font-railway
._projectTitle
	font-size: 4.6rem
	margin: 2.4rem 0rem
._projectSubttle
	font: 2.2rem
	font-style: italic
	margin: 2.0rem 0rem 1.0rem 0rem

//	Categories
.projectCategory
	font-family: $font-roboto
	font-weight: 600
	padding: 2.0rem 0rem

	ul
		margin: 0px 0px
		padding: 0px 0px

		li
			display: inline
			color: #000
			@include border-radius(0px);
			padding: 10px 20px
			margin: 10px 5px

			&.projectCat
				background-color: #4990E2
			&.projectRole
				background-color: #50E3C2
			&.projectSoft
				background-color: #ffff01


// Other Information
.detailInformationContainer
	width: 100%
	@include border(1px 0 1px 0, #000, solid);
	padding: 1.4rem 0px
#informationList
	width: 30%
	float: left
.informationListTitle
	font-family: $font-roboto
	font-weight: 900
.informationList, .informationDescription
	text-rendering: optimizeLegibility
.informationList
	font-size: 1.2rem
	line-height: 1.8rem
	padding: 0rem 0rem 1.2rem 0rem
.informationDescription
	width: 65%
	float: right
	font-size: 1.2rem
	line-height: 1.8rem

/* Image Container */
.singleProjectImageContainer
	width: 100%
	margin: 0px auto
	
	&.sizeDefault
		max-width: 900px
		@include transition(max-width, .2s, ease-out)
	&.sizeExpanded
		max-width: 1920px
		@include transition(max-width, .5s, ease-out)

.projectImage
	opacity: 0

	// Default state after it became visible once.
	&.inViewPortAlready
		opacity: 1
		&.inViewPort
			opacity: 1
			@include transition(opacity, .5s, ease-out)
			@include transition-delay(0.1s)


.projectImage img
		width: 100%
		margin: 20px auto
	

/* * PROJECT * */




@media screen and (max-width: 1024px)

	/* HEADER */
	header nav
		position: inherit
		height: 100px
		
		a
			line-height: 4rem
			font-size: 2rem
	
	/*	PROJECT */
	._projectTitle
		font-size: 3.6rem
	._projectSubttle
		font-size: 2.4rem
		margin-bottom: 15px
		padding-bottom: 50px
	#informationList
		width: 100%
		padding-bottom: 2rem
		@include border(0 0 1px 0, #000, solid)
		float:none
	.informationList
		font-size: 1.8rem
		line-height: 2.6rem
	.informationDescription
		font-size: 1.8rem
		line-height: 3.2rem
		width: 100%
		float: none
		clear: both
		padding-top: 2rem



@media screen and (max-width: 760px)
	
	/* PROJECT */
	._projectTitle
		font-size: 3.2rem
	._projectSubttle
		font-size: 1.8rem
		margin-bottom: 1.2rem
		padding-bottom: 1.2rem
	.informationList
		font-size: 1.4rem
		line-height: 2.4rem
	.informationDescription
		font-size: 1.4rem
		line-height: 2.8rem





