@font-face {
	font-family: 'open_sansregular';
	src: url('font/open-sans/opensans-regular-webfont.eot');
	src: url('font/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/open-sans/opensans-regular-webfont.woff2') format('woff2'),
		 url('font/open-sans/opensans-regular-webfont.woff') format('woff'),
		 url('font/open-sans/opensans-regular-webfont.ttf') format('truetype'),
		 url('font/open-sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sanssemibold';
	src: url('font/open-sans/opensans-semibold-webfont.eot');
	src: url('font/open-sans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
		 url('font/open-sans/opensans-semibold-webfont.woff') format('woff'),
		 url('font/open-sans/opensans-semibold-webfont.ttf') format('truetype'),
		 url('font/open-sans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sanslight';
	src: url('font/open-sans/opensans-light-webfont.eot');
	src: url('font/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/open-sans/opensans-light-webfont.woff2') format('woff2'),
		 url('font/open-sans/opensans-light-webfont.woff') format('woff'),
		 url('font/open-sans/opensans-light-webfont.ttf') format('truetype'),
		 url('font/open-sans/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sanslight_italic';
	src: url('font/open-sans/opensans-lightitalic-webfont.eot');
	src: url('font/open-sans/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/open-sans/opensans-lightitalic-webfont.woff2') format('woff2'),
		 url('font/open-sans/opensans-lightitalic-webfont.woff') format('woff'),
		 url('font/open-sans/opensans-lightitalic-webfont.ttf') format('truetype'),
		 url('font/open-sans/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}

/*@font-face {
	font-family: 'latin_modern_roman_caps10Ob';
	src: url('font/lm-roman/lmromancaps10-oblique-webfont.eot');
	src: url('font/lm-roman/lmromancaps10-oblique-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/lm-roman/lmromancaps10-oblique-webfont.woff2') format('woff2'),
		 url('font/lm-roman/lmromancaps10-oblique-webfont.woff') format('woff'),
		 url('font/lm-roman/lmromancaps10-oblique-webfont.ttf') format('truetype'),
		 url('font/lm-roman/lmromancaps10-oblique-webfont.svg#latin_modern_roman_caps10Ob') format('svg');
	font-weight: normal;
	font-style: normal;

}*/


html {
  font-size: 17px;
  font-family: Helvetica Arial sans-serif;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

body{
	margin:0;
}
.fullscreenimagediv{
  position: fixed;  
  width: 100%; 
  height: 100%;
}
.fullscreenimagediv img{
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  max-height: 150%;
}
.centered{
   position: absolute;
    width: 100%;
    height: 480px;
    top: 0;
    left: 0;
    right: 0;
    bottom:0 ;
    margin: auto;
    text-align:center;
}
.centered h1{
   font-size: 4rem;
}
.centered h2{
   font-size: 2rem;
   font-style:italic;
   font-family:Didot, Helvetica, sans-serif;
}
.clear{
	clear:both;
}

@keyframes example {
    0%   {background-color: #60C4F0;}
    25%  {background-color: #FFCE03;}
    50%  {background-color: #EE3255;}
    75%  {background-color: #64BD5A;}
    100% {background-color: #60C4F0;}
}


/*normalize*/
li{
	list-style: none;
}

/* general hover animation */
section {
  margin: 0 0 10px 0;
  text-align:left;
}
section:last-child {
  margin-bottom: 0;
}
section a {
  cursor: pointer!important;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s;
}
.animatedunderline {
  position: relative;
}
.animatedunderline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color:rgba(255,255,255,1);
  content: "";
  transition: width 0.2s;
}
.animatedunderline:hover {
  color:rgba(255,255,255,1);
}
.animatedunderline:hover:after {
  width: 100%;
}











#introPage1, /*#introPage2,*/ #introPage3, #introPage4, #introPage5{
	position:absolute;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
#introPage1{
	/*background-color: White;
	background-color:rgba(102,0,14,1);*/
	z-index:2005;


}
#introPage2{
	background-color:rgba(221,195,174,1);
	z-index:2004;
}
#introPage3{
	background-color:rgba(9,196,187,1);
	z-index:2003;
}
#introPage4{
	background-color:rgba(176,10,10,1);
	z-index:2002;
}
#introPage5{
	background-color:rgba(0,0,0,.85);
	z-index:2006;
	opacity:0;
	display:none;
}





.svg-wrapper {
  position: absolute;
  top: 15px;
  right:15px;
  width: 60px;
  z-index: 10000000;
  height:60px;

  cursor:pointer;
  
  background-color: rgba(0, 0, 0 , .2);
 /* background-color: rgba(0, 0, 0 , 0.6);
  background-color: rgba(255,68,142,1);*/
}
.svg-wrapper, .shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 1px;
  fill: transparent;
  stroke: #FFF;
  transition: background-color 1s, stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.svg-wrapper.open{
   background-color: rgba(0, 0, 0 ,0);
}
.svg-wrapper:hover .shape {
  stroke-width: 1px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}
.svg-wrapper span {
  display: block;
  position: absolute;
  height: 1px;
  width: 50%;
  background: #FFF;
  border-radius: 0px;
  opacity: 1;
  left: 25%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.svg-wrapper span:nth-child(1) {
  top: 20px;
}
.svg-wrapper span:nth-child(2) {
  top: 30px;
}
.svg-wrapper span:nth-child(3) {
  top: 40px;
}
.svg-wrapper.open span:nth-child(1) {
  top: 32px;
  background: #000;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.svg-wrapper.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.svg-wrapper.open span:nth-child(3) {
  top: 32px;
  background: #000;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.svg-wrapper.open .shape{
	stroke: #000;
}

/*

	Filter 

*/

#projectFilter{
	
}
.filterOverlay{
	position:absolute;
	z-index:2001;
	background-color:rgba(255,255,255,0.85);
	width: 50%;
}
#filterL{
	left:0px;
	display:inherit;
}
#filterR{
	left: 50%;
}
#filterL.filterOpened{
	height:1000px;
	-webkit-transition: height 400ms ease-out;
    -moz-transition: height 400ms ease-out;
    -o-transition: height 400ms ease-out;
    transition: height 400ms ease-out;
}
#filterR.filterOpened{
	height:1000px;
	-webkit-transition: height 400ms ease-out 0.2s;
    -moz-transition: height 400ms ease-out 0.2s;
    -o-transition: height 400ms ease-out 0.2s;
    transition: height 400ms ease-out 0.2s;
}
#filterL.filterClosed{
	height:0px;
	-webkit-transition: height 300ms ease-out 0.1s;
    -moz-transition: height 300ms ease-out 0.1s;
    -o-transition: height 300ms ease-out 0.1s;
    transition: height 300ms ease-out 0.1s;
}
#filterR.filterClosed{
	height:0px;
	-webkit-transition: height 300ms ease-out;
    -moz-transition: height 300ms ease-out;
    -o-transition: height 300ms ease-out;
    transition: height 300ms ease-out;
}

.filterTexts{
	position:absolute;
	z-index:2002;
	width:100%;
	-webkit-font-smoothing: antialiased;
}
.filterTexts.filterOpened{
	top :0px;
}
.filterTexts.filterClosed{
	top : -1200px;
}
#_headerCategoryMenu.filterOpened{
	opacity:0.8;
	-webkit-transition: opacity 0.8s ease-out 0.8s;
    -moz-transition: opacity  0.8s ease-out 0.8s;
    -o-transition: opacity 0.8s ease-out 0.8s;
    transition: opacity 0.8s ease-out 0.8s;
}
#_headerCategoryMenu.filterClosed{
	opacity:0;
	-webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}
#_headerRoleMenu.filterOpened{
	opacity:0.8;
	-webkit-transition: opacity 0.8s ease-out 1.0s;
    -moz-transition: opacity  0.8s ease-out 1.0s;
    -o-transition: opacity 0.8s ease-out 1.0s;
    transition: opacity 0.8s ease-out 1.0s;
}
#_headerRoleMenu.filterClosed{
	opacity:0;
	-webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}
#_headerSoftMenu.filterOpened{
	opacity:0.8;
	-webkit-transition: opacity 0.8s ease-out 1.2s;
    -moz-transition: opacity  0.8s ease-out 1.2s;
    -o-transition: opacity 0.8s ease-out 1.2s;
    transition: opacity 0.8s ease-out 1.2s;
}
#_headerSoftMenu.filterClosed{
	opacity:0;
	-webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}

/*

	Filter 
	
*/


#_headerCategoryMenu, #_headerRoleMenu, #_headerSoftMenu{
	color:black;
	width:100%;
	height:10%;
	margin-top:10%;
	text-align:center;
}
#_headerCategoryMenu li, #_headerRoleMenu li, #_headerSoftMenu li{
	list-style: none;
	display:inline;
	cursor:pointer;
	
	vertical-align:middle;

}




#projectContainer{
	position:absolute;
	overflow-x:hidden;
	overflow-y:scroll;
	z-index:2000;
	width:100%;
	height:100%;
	-webkit-overflow-scrolling: touch;
}

.project{
	position:absolute;
	overflow:hidden !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	cursor: pointer;
}
.project .img-over{
	position:absolute;
	background-color:#000;
	opacity:0.5;
}

/*
	Black Overlay
*/
.project .img-over.closed{
	width:0%;
	height:0%;
	left:0px;
	top:0px;
}
.project .img-over.opened{
	width:100%;
	height:100%;
	margin-left:0px;
	margin-top:0px;
}
.project .img-over.prepareOpenFromLeft{
	width:0%;
	height:100%;
	margin-left:0px;
	margin-top:0px;
}
.project .img-over.openedFromLeft{
	width:100%;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.project .img-over.prepareOpenFromRight{
	width:0%;
	height:100%;
	margin-top: 0px;
	margin-left: 600px;
}
.project .img-over.openedFromRight{
	width:100%;
	margin-left: 0px;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.project .img-over.prepareOpenFromTop{
	width:100%;
	height:0%;
	margin-left:0px;
	margin-top:0px;
}
.project .img-over.openedFromTop{
	height:100%;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.project .img-over.prepareOpenFromBottom{
	width:100%;
	height:0%;
	margin-left:0px;
	margin-top: 500px;
}
.project .img-over.openedFromBottom{
	height:100%;
	margin-top:0px;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.project .img-over.closedToLeft{
	width:0%;
	height:100%;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.project .img-over.closedToRight{
	width:0%;
	height:100%;
	margin-left:600px;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.project .img-over.closedToTop{
	width:100%;
	height:0%;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.project .img-over.closedToBottom{
	width:100%;
	height:0%;
	margin-top:600px;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}



.project .img-container{
	position:absolute;
	width:100%;
	height:100%;
}
.project .img-over-caption{
	position:absolute;
	width:90%;
	height:90%;
	text-align:center;
	color:white;
	padding:20px;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
.project .img-over-caption h1{
	padding-top:20%;
	font-size:64px;

}
.project .img-over-caption h3{
	font-size:18px;
	font-weight:100;
	line-height: 100%;
	font-family: latin_modern_roman_caps10Ob;
}
.project .img-over-caption h3 span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;  
}
.project img{
	position:relative;
	width:100%;
}
#videocontainer{
	position:absolute;
}
#videocontainer iframe{
	display:block;
	margin:100px auto;

	width: 800px;
	height: 450px;

	border:none;
}

/* --- comment --- */
#boxForComment {
  width: 100%;
  height: 1000%;
  z-index: 20001; 
  display:none;
  color: #FFF;

  overflow:hidden;
 }
 #boxForCommentFooter{
  width: 100%;
  height: 100px;
  cursor:pointer;
  z-index: 20002; 
}
#commentTitle{
	font-family:'latin_modern_roman_caps10Ob';
	font-size:42px;
	width:100%;
	text-align: center;
}
#emailinput{
	position:absolute;
	/*background-color: rgba(0,0,0,.7);*/
	width:800px;
	height:200px;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	margin:auto;
	display:none;
	z-index: 20003; 
}
.commentButton{
	width:200px;
	height:48px;
	cursor:pointer;
	color:#FFF;
	background-color: rgba(9,196,187,1);
	/*border-radius:30px;*/
	display:block;
	margin:auto;
	text-align: center;
	line-height:6px;
	/*font-weight:bold;
	border:white solid thin;*/
	font-size:18px;
	opacity:0.2;
}

#boxForCommentBody{
	max-width:1200px;
	margin:60px auto;
	overflow:hidden;
}
#boxForCommentBody h2{
	text-align: center;
	font-size: 1.5rem;
}
.commentTextBox{
	overflow-y:hidden;
}
textarea#styled {
	width: 100%;
	height: 60%;
	font-size: 360px;
	margin-top:40px;
	padding: 5px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	background-color: rgba(0,0,0,0);
	border:none;
	resize: none;
}
textarea#styled {
  box-shadow:none !important;
  border: none;
  outline: none !important;
}
 
textarea#styled:focus {
  box-shadow:none !important;
  border: none;
  outline: none !important;
}

/*for Webkit*/
textarea#styled:-webkit-input-placeholder {
	color: #666 !important;
}

/*for Firefox*/
textarea#styled:-moz-placeholder {
	color: #666 !important;
}

#emailinput section{
	max-width:400px;
	width:40%;
	display:block;
	margin:auto;
}
.input-list{
	-webkit-padding-start:0px;
}
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  color:#FFF;
  background-color: rgba(0,0,0,0);
}
input[type="text"]:focus {
  outline: none;
}
.style-2 input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
  border: solid 5px #969696;
}


.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 64px;
  height: 64px;
  opacity: 0.3;
  display:none;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
 	 position: absolute;
	 left: 15px;
	 content: ' ';
	 height: 66px;
	 width: 2px;
	 background-color: #FFF;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/* --- Filter ---*/
._myProjectSort1{
	font-weight:bold;
	font-family:Raleway, Helvetica, sans-serif;
	font-size:3rem;
	margin:1rem 3rem;
}
._myProjectSort2{
	font-style:italic;
	font-family:Didot, Helvetica, sans-serif;
	font-size:6rem;
	margin:1rem 3rem;
}
._myProjectSort3{
	font-style:italic;
	font-weight:bold;
	font-family:Raleway, Helvetica, sans-serif;
	font-size:2rem;
	margin:1rem 3rem;
}
#_headerSoftMenu{
	cursor: pointer;
	margin:8rem 0rem;
}

#_headerCategoryMenu{
	cursor: pointer;
	margin:8rem 0rem;
}
#_headerRoleMenu{
	cursor: pointer;
	margin:8rem 0rem;
}
#_headerSoftMenu span{
	display:inline-block;
}

#_headerCategoryMenu span{
	display:inline-block;
}
#_headerRoleMenu span{
	display:inline-block;
}



/* FOOTER */
footer{
  
	width:100%;
	background-color:#000;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	padding:100px 0px;
	font-weight:thin;
}
footer .outercontainer{
	width:100%;
	max-width:1280px;
	margin:0px auto;

}
footer .innercontainer1, footer .innercontainer2, footer .innercontainer3{
	float:left;
}
footer .innercontainer1{
	width:66%;
}
footer .innercontainer2{
	display:none;
}
footer .innercontainer3{
	width:33%;
}
footer .innercontainer1 div{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-count:none; /* Chrome, Safari, Opera */
    -moz-column-count:none; /* Firefox */
    column-count:none;

	-webkit-column-width:50%; /* Chrome, Safari, Opera */
    column-width:50%;
}
footer ul{
	-webkit-padding-start: 0px;
}
footer li{
	padding: 8px 0px;
}

footer ul li section a{
	color:#666;
}
footer .footerprojectfilter ul{
	padding-left:20px;
}



@media screen and (max-width: 1600px){
	#_headerCategoryMenu span{
		font-size:3.2rem;
	}
	#_headerRoleMenu span{
		font-size:3.2rem;
	}
	#_headerSoftMenu span{
		font-size:1.6rem;
	}
	
}
@media screen and (max-width: 1024px){

	/* --- Filter ---*/
	#_headerCategoryMenu{
		display: table;
	}
	#_headerRoleMenu{
		display: table;
	}
	#_headerSoftMenu{
		display:none;
	}

	#_headerCategoryMenu{
	margin:4rem 0rem;
	}
	#_headerRoleMenu{
		margin:4rem 0rem;
	}

	#_headerCategoryMenu span, #_headerRoleMenu span{
		display: table-row;
		font-size:3.2rem;
		line-height:5.2rem;
	}



	footer .innercontainer1, footer .innercontainer3{
		font-size: 1.8rem;
		width:45%;
		margin:0 2.5%;
	}
	
	footer .innercontainer1 div{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	}

	footer a{
		font-size: 1.6rem;
	}
}
@media screen and (max-width: 760px){
	
	/* --- Filter ---*/
	#_headerCategoryMenu{
		margin:2rem 0rem;
		
	}
	#_headerRoleMenu{
		margin:2rem 0rem;
	}
	#_headerCategoryMenu span, #_headerRoleMenu span{
		font-size:2.4rem;
		line-height:3.6rem;
	}


}

@media screen and (max-width: 640px){
	

	/* 
		Filter
	*/
	#filterL{
		width:100%;
	}
	#filterR{
		display:none;
	}
	/* 
		Filter
	*/

	/* --- Filter ---*/
	#_headerCategoryMenu{
		margin:1.8rem 0rem;
	}
	#_headerRoleMenu{
		margin:1.8rem 0rem;
	}
	#_headerCategoryMenu span, #_headerRoleMenu span{
		font-size:2rem;
		line-height:3.2rem;
	}
}



