@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed)

/* * Predefined Elements * */

// fonts
$font-default: Helvetica Arial sans-serif
$font-didot: Didot, Helvetica, sans-serif
$font-railway: Raleway, Helvetica, sans-serif
$font-roboto: Roboto Condensed, Helvetica, sans-serif
$font-didot: Didot, Helvetica, sans-serif
$font-gotham: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif

// animation
@mixin transition($property, $duration, $type)
	@if($property == "")
		-webkit-transition: $duration $type
		-moz-transition: $duration $type
		-ms-transition: $duration $type
		-o-transition: $duration $type
		transition: $duration $type
	@else
		-webkit-transition: $property $duration $type
		-moz-transition: $property $duration $type
		-ms-transition: $property $duration $type
		-o-transition: $property $duration $type
		transition: $property $duration $type

// animation transform
@mixin transform($property)
	-webkit-transform: $property
	-moz-transform: $property
	-ms-transform: $property
	-o-transform: $property
	transform: $property



html
	font-size: 17px
	font-family: $font-default

@media (max-width: 900px)
	html
		font-size: 15px

@media (max-width: 400px)
	html
		font-size: 13px

body
	margin: 0

.fullscreenimagediv
	position: fixed
	width: 100% 
	height: 100%

	img
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
		min-width: 100%
		min-height: 100%
		max-width: 150%
		max-height: 150%

.centered
	position: absolute
	width: 100%
	height: 480px
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
	text-align: center

	h1
		font-size: 4rem

	h2
		font-size: 2rem
		font-style: italic
		font-family: $font-didot

.clear
	clear: both

@keyframes example
	0%
		background-color: #60C4F0
	25%
		background-color: #FFCE03
	50%
		background-color: #EE3255
	75%
		background-color: #64BD5A
	100%
		background-color: #60C4F0


/*normalize*/
li
	list-style: none

/* general hover animation */
section
	margin: 0 0 10px 0
	text-align: left

	&:last-child
		margin-bottom: 0
	
	a
		cursor: pointer!important
		text-decoration: none
		font-size: 16px
		@include transition(all, .2s, none)

.animatedunderline
	position: relative
	
	&:after
		display: block
		position: absolute
		left: 0
		bottom: -4px
		width: 0
		height: 1px
		background-color: #FFF
		content: ""
		transition: width 0.2s
		//@include transition(all, .2s, none, 0)

	&:hover
		color: #FFF

		&:after
			width: 100%


#introPage1, /*#introPage2,*/ #introPage3, #introPage4, #introPage5
	position: absolute
	width: 100%
	height: 100%
	margin: 0px
	padding: 0px

#introPage1
	z-index: 2005

#introPage2
	background-color: rgba(221,195,174,1);
	z-index: 2004

#introPage3
	background-color: rgba(9,196,187,1)
	z-index: 2003

#introPage4
	background-color: rgba(176,10,10,1)
	z-index: 2002

#introPage5
	background-color: rgba(0,0,0,.85)
	z-index: 2006
	opacity: 0
	display: none






#videocontainer
	position: absolute

	iframe
		display: block
		margin: 100px auto
		width: 800px
		height: 450px
		border: none


/* * Comment * */
#boxForComment
	width: 100%
	height: 1000%
	z-index: 20001
	display: none
	color: #FFF
	overflow: hidden
#boxForCommentFooter
	width: 100%
	height: 100px
	cursor: pointer
	z-index: 20002
#commentTitle
	font-family: 'latin_modern_roman_caps10Ob'
	font-size: 42px
	width: 100%
	text-align: center
#emailinput
	position: absolute
	/*background-color: rgba(0,0,0,.7);*/
	width: 800px
	height: 200px
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
	display: none
	z-index: 20003
.commentButton
	width: 200px
	height: 48px
	cursor: pointer
	color: #FFF
	background-color: rgba(9,196,187,1)
	/*border-radius:30px;*/
	display: block
	margin: auto
	text-align: center
	line-height: 6px
	//font-weight:bold;
	//border:white solid thin;
	font-size: 18px
	opacity: 0.2

#boxForCommentBody
	max-width: 1200px
	margin: 60px auto
	overflow: hidden

	h2
		text-align: center
		font-size: 1.5rem

.commentTextBox
	overflow-y: hidden

textarea
	
	&#styled
		width: 100%
		height: 60%
		font-size: 360px
		margin-top: 40px
		padding: 5px
		font-family: $font-gotham
		color: #FFF
		background-color: rgba(0,0,0,0)
		border: none
		resize: none
		box-shadow:none !important
		outline: none !important
 
		&:focus
			box-shadow: none !important
			border: none
			outline: none !important
		
		&:-webkit-input-placeholder
			color: #666 !important
		&:-moz-placeholder
			color: #666 !important

#emailinput section
	max-width: 400px
	width: 40%
	display: block
	margin: auto
.input-list
	-webkit-padding-start: 0px
input[type="text"]
	display: block
	margin: 0
	width: 100%
	font-family: $font-default
	font-size: 18px
	appearance: none
	box-shadow: none
	border-radius: none
	color: #FFF
	background-color: rgba(0,0,0,0)

	&:focus
		outline: none

.style-2 input[type="text"]
	padding: 10px
	border: solid 5px #c9c9c9
	transition: border 0.3s
	&:focus, &.focus
		border: solid 5px #969696

.close
	position: absolute
	right: 32px
	top: 32px
	width: 64px
	height: 64px
	opacity: 0.3
	display:none
	&:hover
		opacity: 1
	&:before, &:after
		position: absolute
		left: 15px
		content: ' '
		height: 66px
		width: 2px
		background-color: #FFF
	&:before
		@include transform(rotate(45deg))
	&:after
		@include transform(rotate(-45deg))


/* * FOOTER * */
footer
	width: 100%
	background-color: #000
	color: #fff
	font-family: $font-roboto
	font-weight: thin

	.outercontainer
		width: 100%
		max-width: 1280px
		margin: 0px auto
	.innercontainer1, .innercontainer2, .innercontainer3
		float: left
	.innercontainer1
		width: 66%
		div
			-webkit-column-count: 2 /* Chrome, Safari, Opera */
			-moz-column-count: 2 /* Firefox */
			column-count: 2
			-webkit-column-count: none /* Chrome, Safari, Opera */
			-moz-column-count: none /* Firefox */
			column-count: none
			-webkit-column-width: 50% /* Chrome, Safari, Opera */
			column-width: 50%
	.innercontainer2
		display: none
	.innercontainer3
		width: 33%
	ul
		-webkit-padding-start: 0px
		li
			padding: 8px 0px
			section a
				color: #666

	.footerprojectfilter ul
		padding-left: 20px

/* * FOOTER * */



@media screen and (max-width: 1600px)
	/* NONE */


@media screen and (max-width: 1024px)
	

	/* FOOTER */

	footer 
		.innercontainer1, .innercontainer3
			font-size: 1.8rem
			width: 45%
			margin: 0 2.5%

		.innercontainer1 div
			-webkit-column-count: 1 /* Chrome, Safari, Opera */
			-moz-column-count: 1 /* Firefox */
			column-count: 1

		a
			font-size: 1.6rem

	/* FOOTER */

@media screen and (max-width: 760px)
	/* NONE */

@media screen and (max-width: 640px)
	/* NONE */


