<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../js/jquery.transform2d.js"></script>
<script src="../js/jquery.mousewheel.min.js"></script>
<script src="../js/commonfunction.js"></script>
<script src="../js/loadProject.js"></script>
<script>
$(document).ready(function(){

	var scrollon = false;


	var initialPos =0;
	var animateSetTimeOut;
	var projNumb = 0, pastprojNumb = 0;

	var goalPosY1 = 0, goalPosY2 = 0, goalPosY3 = 0, goalPosY4 = 0;

	var scrollInterval = 20;

	// --  Measure if scroll is stuck at bottom
	var lasctScrollTop = 0;

	$('body').mousewheel(function (event){
		//console.log(initialPos);
		if(scrollon === false){
			initialPos += event.deltaY;
		}
		
		if(projectscrollable !== true){
    		event.preventDefault();
		}


		clearTimeout($.data(this, 'scrollTimer'));
	    $.data(this, 'scrollTimer', setTimeout(function() {



			if(initialPos < -5 && projNumb < 4 && scrollon == false){
				projNumb += 1;
				scrollon = true;
			}
			if(initialPos > 5 && projNumb > 0 && scrollon == false && projectcandispatchUp === true){
				projNumb -= 1;
				scrollon = true;
			}

			if(projNumb === 0){
				goalPosY1 = goalPosY2 = goalPosY3 = goalPosY4 = 0;
			}
			if(projNumb === 1){
				goalPosY1 = -1.5 * $(window).height();
				goalPosY2 = goalPosY3 = goalPosY4 = 0;
			}
			if(projNumb === 2){
				goalPosY1 = goalPosY2 = -1.5 * $(window).height();
				goalPosY3 = goalPosY4 = 0;
			}
			if(projNumb === 3){
				goalPosY1 = goalPosY2 = goalPosY3 = -1.5 * $(window).height();
				goalPosY4 = 0;

				if(projecton === true){
					closeProject();
					projecton = false;
					scrollInterval = 100;
				}
				projectscrollable = false;
			}
			if(projNumb === 4){
				
				goalPosY1 = goalPosY2 = goalPosY3 = goalPosY4 =  -1.5 * $(window).height();

				if(projecton === false){
					openProject(1);
					projecton = true;
					scrollInterval = 100;
				}
			}



	    	if($('#projectContainer').scrollTop() === 0){
	    		containerBasePos = 0;
	    		setTimeout(function(){
	    			projectcandispatchUp = true;
	    			
	    		}, 600);
				//animateProject(0, 100);
	    	}


	    	if($('#projectContainer').scrollTop() > 0){

				projectcandispatchUp = false;
			}
			
			//console.log($('#projectContainer').scrollTop(), $('#projectContainer').height(),  projectContainerHeight+450);

			if(initialPos != 0){
				var speed = Math.round(Math.abs(1000-Math.abs((initialPos+100)*2))/1.2);
				if(speed>1000){speed = 1000;}
				if(speed<600){speed = 600;}
				var delay = 0;
		        $('#introPage1').stop().animate({'top':goalPosY1},speed);
				$('#introPage2').stop().animate({'top':goalPosY2},speed);
				$('#introPage3').stop().animate({'top':goalPosY3},speed);
				$('#introPage4').stop().animate({'top':goalPosY4},speed, function(){scrollon = false;});
				initialPos = 0;
			}
 			
 			// --- Open Message
 			console.log(event.deltaY);
 			console.log(lasctScrollTop, $('#projectContainer').scrollTop(), $('#projectContainer').scrollTop() - (projectContainerHeight+450));
			if(lasctScrollTop === $('#projectContainer').scrollTop() && $('#projectContainer').scrollTop() - (projectContainerHeight+450) < 150 && $('#projectContainer').scrollTop() !== 0){

				if(event.deltaY < -5){
					$('#introPage5').css({'display':'inherit'}).animate({opacity:1});
					_openComment();
				}
				console.log($('#boxForComment textarea').val().trim().length === 0);
				if(event.deltaY > 5 && $('#boxForComment textarea').val().trim().length === 0){
					_closeComment();
				}
			}

			lasctScrollTop = $('#projectContainer').scrollTop();

	    },scrollInterval));
		



		
    	//a.log()
    	/*animateSetTimeOut = null;
    	animateSetTimeOut = setTimeout(function(){
    		$('#introPage1').animate({'top':initialPos});
    	}, 500);*/
	});


	_loadJSON($_GET('portfolio'), 'od6');
});

var projecton = false;
var projectscrollable = false;
var projectcandispatchUp = true;

var containerBasePos = 0;

// height and width of the project
var projectSize = 0;
var projectPos=[];

var projectContainerHeight;

function createProject(){

	adjustSize();

	for(var i=0; i<_myProjects.length; i++){
		$('#projectContainer').append('<div class="project" id="project'+i+'"><div class="img-container"><img src="../img/'+_myProjects[i].thumb+'"></div><div class="img-over"></div><div class="img-over-caption"><h1>'+_myProjects[i].title+'</h1><h3><span>'+_myProjects[i].subtitle+'</span></h3></div></div>');
		$('#projectContainer').find('#project'+i).css({
			'width':projectSize, 'height':projectSize, 'top':projectPos[i].top, 'left':projectPos[i].left, transform:'scale(0,0)'
		});
		$('#projectContainer').find('.img-over-caption').css({transform:'scale(1.2,1.2)', opacity:0});

		// hover action
		$('#projectContainer').find('#project'+i).mouseenter(function() {
			$(this).find('.img-container').animate({transform:'scale(1.2,1.2)'});
			$(this).find('.img-over').animate({opacity:0.8});
			$(this).find('.img-over-caption').animate({transform:'scale(1,1)', opacity:1});
		}).mouseleave(function() {
			$(this).find('.img-container').animate({transform:'scale(1.0,1.0)'});
			$(this).find('.img-over').animate({opacity:0});
			$(this).find('.img-over-caption').animate({transform:'scale(1.2,1.2)', opacity:0});
		});
	}

	if(isYoutube(_youtubeurl) != false){
		$('#projectContainer').append('<div id="videocontainer" style="top:'+(projectContainerHeight + 600)+'"><iframe src="http://www.youtube.com/embed/'+isYoutube(_youtubeurl)+'?autoplay=0&controls=1&showinfo=0"></iframe></div>');
	}

}
function closeProject(){

	for(var i=0; i<_myProjects.length; i++){
		$('#projectContainer').find('#project'+i).delay(Math.round(Math.random()*500+500)).animate({
			transform:'scale(0,0)'
		});
	}

}
function openProject(d){

	for(var i=0; i<_myProjects.length; i++){

		$('#projectContainer').find('#project'+i).delay(Math.round(Math.random()*500+500) * d).animate({
			'top':projectPos[i].top + containerBasePos,
			'left':projectPos[i].left,
			transform:'scale(1,1)'
		}, function(){projectscrollable = true;});
	}

}

function animateProject(d, speed){
	
	projectscrollable = false;
	for(var i=0; i<_myProjects.length; i++){

		$('#projectContainer').find('#project'+i).stop().animate({'width':projectSize,'height':projectSize,'top':projectPos[i].top + containerBasePos,'left':projectPos[i].left}, speed*5, function(){projectscrollable = true;});
	}

	$('#projectContainer').find('#videocontainer').animate({'top':(projectContainerHeight + 600)},  speed*5);
	

}



function _closeComment(){
	$('#introPage5').animate({opacity:0}, function(){
						$(this).css({'display':'none'});
					});

	//$('.commentTextBox').css({'font-size':'360px'});
	$('.close').css({'displaye':'none'});
}

var textInput = false, textOpen = false, emailInput = false, emailOpen = false;
var maxTextAreaSize = Math.round(2*$(window).height()/3);
function _openComment(){
		
		$('#boxForComment').css({'display':'inherit'});
		
		var textInput = false;
		var textOpen = false;
		var emailInput = false;
		var emailOpen = false;

		var maxTextAreaSize = Math.round(2*$(window).height()/3);
		$('#boxForCommentBody').css({'height':maxTextAreaSize});
		$('.commentTextBox').css({'height':maxTextAreaSize});

		fixTextAreaSize();

		$(window).keypress(function(e){
			
			

			if(emailOpen === false){
				fixTextAreaSize(maxTextAreaSize);
			}

			//
			// -- Check Email Address
			var email = $('#emailinput input').val();
			if (email !== "") {  // If something was entered
			    if (!isValidEmailAddress(email)) {
			      	emailInput = false;
			    }else{
			    	 emailInput = true;
			    	 $('#emailSend').animate({'opacity':'1'});
			    }
			} 
			// -- Open Close with Email
			if($('.commentTextBox').val().trim().length === 0 && textInput === true){
				textInput = false;
				$('#commentOk').animate({opacity:0.2});
				$('.close').css({'display':'none'});
			}
			if($('.commentTextBox').val().trim().length !== 0 && textInput === false){
				textInput = true;
				$('#commentOk').animate({opacity:1});
				$('.close').css({'display':'inherit'});
			}
			// -- Hit Enter
			/*if(e.which == 13 && $('.commentTextBox').val().trim().length !== 0) {
		        $('#emailinput').css({'display':'inherit'}).animate({'opacity':'1'});
		        $('#boxForComment').animate({'opacity':'.2'});
		    }*/
			/*console.log();

			console.log(email);

			if($('#emailinput').val()==="" && textInput === true){
				textInput = false;
				$('.boxForCommentFooterContent').animate({'opacity':'.2'});
				$('.close').css({'display':'none'});
			}
			if($('#emailinput').val()!=="" && textInput !== true){
				textInput = true;
				$('.boxForCommentFooterContent').animate({'opacity':'1'});
				$('.close').css({'display':'inherit'});
			}*/
			
		});

		$('.close').click(function(){
			_closeComment();
		});

		// check if the user has moved back to main taxt
		$('.commentTextBox').focus(function() {
			
			if(emailOpen === true){
				textOpen = true;
				emailOpen = false;
				$('#boxForComment').animate({'opacity':'1'});
				$('#emailinput').animate({'opacity':'0'}, function(){
					$('#emailinput').css({'display':'none'});
				});
			}
		});
		$('#commentOk').click(function(){
			if(textInput === true){
				$('#emailinput').css({'opacity':'0', 'display':'inherit'}).animate({'opacity':'1'});
				$('#boxForComment').animate({'opacity':'.2'});
			}
		});
		$('#emailSend').click(function(){
			if(emailInput === true){
				$('#introPage5').delay(3600).animate({opacity:0});
				$('#boxForComment').animate({opacity:0}, function(){
					$(this).css({'display':'none'});
					emptyContact();
				});
				$('#emailinput').animate({opacity:0});
				
				/*$('#emailinput').animate({'opacity':'0'},function(){
					$(this).css({'display':'none'});
					emptyContact();
				});*/
			}
		});
		

		
		
				
		
		/*$('#hoverForComment').css({'display':'inherit'}).animate({'opacity': '0.85'}, function(){
			$('#boxForComment').animate({'left': String(Math.round(_parentWidth/2 - _reviewCommentWidth/2))+'px', 'width':String(_reviewCommentWidth)+'px'}, 200);
			
			$('.boxForCommentFooterContent').mouseover(function(){
				$(this).animate({'opacity':'.5'},100);
			});
			$('.boxForCommentFooterContent').mouseout(function(){
					$(this).animate({'opacity':'1'},300);
			});
			$('.boxForCommentFooterContent').click(function(){
				
				clearInterval(updateTextArea);
				
				$('#boxForComment').animate({'left': String(_parentWidth/2)+'px', 'width':'0px'}, 200, function(){
					$('#hoverForComment').animate({'opacity':'0'});
					$('.reviewContainer').animate({'opacity':'0'});
					$('#iLogo').animate({'height': '112px', 'margin-top': '160px'});	
					$('.headerBackground').animate({'height':'600px'});
					$('#container').animate({'height':'600px'});
					window.parent.$('#PLEYiFrame').animate({ 'height': '700px' }, 'fast');
					$('#iheaderSubTitle').css({'display':'inherit'})
					$('#iheaderTitle').html('THANK YOU!!!')
					$('#container').animate({'opacity':'0'}, function(){
						$('#container').css({'display':'none'});
						location.reload();
					});
				});
			});
		});*/
	}

function fixTextAreaSize(maxTextAreaSize){

	if($('.commentTextBox')[0].scrollHeight >maxTextAreaSize && $('.commentTextBox').css('font-size') === '360px'){
				$('.commentTextBox').css({'font-size':'210px'});
			}else if($('.commentTextBox')[0].scrollHeight >maxTextAreaSize && $('.commentTextBox').css('font-size') === '210px'){
				console.log('BBBBBB');
				$('.commentTextBox').css({'font-size':'96px'});
			}else if($('.commentTextBox')[0].scrollHeight >maxTextAreaSize && $('.commentTextBox').css('font-size') === '96px'){
				console.log('CCCCCC');
				$('.commentTextBox').css({'font-size':'64px'});
			}else if($('.commentTextBox')[0].scrollHeight >maxTextAreaSize && $('.commentTextBox').css('font-size') === '64px'){
				console.log('DDDDDD');
				$('.commentTextBox').css({'font-size':'36px'});
			}else if($('.commentTextBox')[0].scrollHeight >maxTextAreaSize && $('.commentTextBox').css('font-size') === '36px'){
				console.log('EEEEEE');
				$('.commentTextBox').css({'font-size':'18px', 'overflow-y':'scroll'});
			}


			if($('.commentTextBox')[0].scrollHeight < maxTextAreaSize && $('.commentTextBox').css('font-size') === '36px'){
				console.log('AAAAAA');
				$('.commentTextBox').css({'font-size':'64px', 'overflow-y':'none'});
			}
			if($('.commentTextBox')[0].scrollHeight < maxTextAreaSize && $('.commentTextBox').css('font-size') === '64px'){
				console.log('BBBBBB');
				$('.commentTextBox').css({'font-size':'96px', 'overflow-y':'none'});
			}
			if($('.commentTextBox')[0].scrollHeight < maxTextAreaSize && $('.commentTextBox').css('font-size') === '96px'){
				console.log('CCCCCC');
				$('.commentTextBox').css({'font-size':'210px', 'overflow-y':'none'});
			}
			if($('.commentTextBox')[0].scrollHeight < maxTextAreaSize && $('.commentTextBox').css('font-size') === '210px'){
				console.log('DDDDDD');
				$('.commentTextBox').css({'font-size':'360px', 'overflow-y':'none'});
			}
}

function isValidEmailAddress(emailAddress) {
	var pattern = new RegExp(/^(("[\w-+\s]+")|([\w-+]+(?:\.[\w-+]+)*)|("[\w-+\s]+")([\w-+]+(?:\.[\w-+]+)*))(@((?:[\w-+]+\.)*\w[\w-+]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][\d]\.|1[\d]{2}\.|[\d]{1,2}\.))((25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\.){2}(25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\]?$)/i);
	return pattern.test(emailAddress);
};
function emptyContact(){
	$('.commentTextBox').val('');
	$('#emailinput input').val('');
	$('#emailinput').css({'display':'none'});
	
	maxTextAreaSize = Math.round(2*$(window).height()/3);
	textInput = false, textOpen = false, emailInput = false, emailOpen = false;

	$('.boxForComment').css({opacity:1});
	$('#boxForCommentBody').css({'height':maxTextAreaSize});
	$('.commentTextBox').css({'height':maxTextAreaSize, 'font-size':'360px'});
	$('.close').css({'display':'none'});
}




function adjustSize(){

	

	var xcounter=1;
	projectSize =  $(window).width();
	while (projectSize > 600){
		projectSize =  Math.floor($(window).width()/xcounter);
		xcounter++;
	}
	

	projectPos = [];

	var j=0, k=0;
	for(var i=0; i<_myProjects.length; i++){

		
		projectPos[i] = {
			top : projectSize * k,
			left : projectSize * j
		}
		if(j<xcounter-2){
			j++;
		}else{
			j=0;
			k++;
		}
	}
	projectContainerHeight = k * projectSize;
}


var resizetimeout = false;
$(window).resize(function(){

	if(resizetimeout != null){
		clearTimeout(resizetimeout);
	}
	resizetimeout = setTimeout(function(){
		adjustSize();
		animateProject(0, 100);
	},300);
	

});
</script>

</head>
<body>
<div id="introPage1"></div>
<div id="introPage2"></div>
<div id="introPage3"></div>
<div id="introPage4"></div>
<div id="projectContainer"></div>
<div id="introPage5">
	<a href="#" class="close"></a>
    <div id="boxForComment">
    	<div id="boxForCommentBody">
    	 	Please Feel Free to Contact
			<textarea name="styled-textarea" class="commentTextBox" id="styled" placeholder="..." onfocus=""></textarea>
        </div>
        <div class="commentButton" id="commentOk">
		    OK
		</div>
    </div>
</div>
<div id="emailinput">
	<section>
				  <ul class="input-list style-2" style="list-style:none;">
				    <li>
				      <input type="text" placeholder="your email">
				    </li>
				  </ul>
	</section>
	<div class="commentButton" id="emailSend">
	    Send Message
	</div>
</div>
</body>
</html>