@font-face {
	font-family: 'open_sansregular';
	src: url('font/open-sans/opensans-regular-webfont.eot');
	src: url('font/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/open-sans/opensans-regular-webfont.woff2') format('woff2'),
		 url('font/open-sans/opensans-regular-webfont.woff') format('woff'),
		 url('font/open-sans/opensans-regular-webfont.ttf') format('truetype'),
		 url('font/open-sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sanssemibold';
	src: url('font/open-sans/opensans-semibold-webfont.eot');
	src: url('font/open-sans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
		 url('font/open-sans/opensans-semibold-webfont.woff') format('woff'),
		 url('font/open-sans/opensans-semibold-webfont.ttf') format('truetype'),
		 url('font/open-sans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sanslight';
	src: url('font/open-sans/opensans-light-webfont.eot');
	src: url('font/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/open-sans/opensans-light-webfont.woff2') format('woff2'),
		 url('font/open-sans/opensans-light-webfont.woff') format('woff'),
		 url('font/open-sans/opensans-light-webfont.ttf') format('truetype'),
		 url('font/open-sans/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'open_sanslight_italic';
	src: url('font/open-sans/opensans-lightitalic-webfont.eot');
	src: url('font/open-sans/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/open-sans/opensans-lightitalic-webfont.woff2') format('woff2'),
		 url('font/open-sans/opensans-lightitalic-webfont.woff') format('woff'),
		 url('font/open-sans/opensans-lightitalic-webfont.ttf') format('truetype'),
		 url('font/open-sans/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}

/*@font-face {
	font-family: 'latin_modern_roman_caps10Ob';
	src: url('font/lm-roman/lmromancaps10-oblique-webfont.eot');
	src: url('font/lm-roman/lmromancaps10-oblique-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/lm-roman/lmromancaps10-oblique-webfont.woff2') format('woff2'),
		 url('font/lm-roman/lmromancaps10-oblique-webfont.woff') format('woff'),
		 url('font/lm-roman/lmromancaps10-oblique-webfont.ttf') format('truetype'),
		 url('font/lm-roman/lmromancaps10-oblique-webfont.svg#latin_modern_roman_caps10Ob') format('svg');
	font-weight: normal;
	font-style: normal;

}*/


html {
  font-size: 17px;
  font-family: Helvetica Arial sans-serif;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

body{
	margin:0;
}
.fullscreenimagediv{
  position: fixed;  
  width: 100%; 
  height: 100%;
}
.fullscreenimagediv img{
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  max-height: 150%;
}
.centered{
   position: absolute;
    width: 100%;
    height: 480px;
    top: 0;
    left: 0;
    right: 0;
    bottom:0 ;
    margin: auto;
    text-align:center;
}
.centered h1{
   font-size: 4rem;
}
.centered h2{
   font-size: 2rem;
   font-style:italic;
   font-family:Didot, Helvetica, sans-serif;
}
.clear{
	clear:both;
}

@keyframes example {
    0%   {background-color: #60C4F0;}
    25%  {background-color: #FFCE03;}
    50%  {background-color: #EE3255;}
    75%  {background-color: #64BD5A;}
    100% {background-color: #60C4F0;}
}


/*normalize*/
li{
	list-style: none;
}

/* general hover animation */
section {
  margin: 0 0 10px 0;
  text-align:left;
}
section:last-child {
  margin-bottom: 0;
}
section a {
  cursor: pointer!important;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s;
}
.animatedunderline {
  position: relative;
}
.animatedunderline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color:rgba(255,255,255,1);
  content: "";
  transition: width 0.2s;
}
.animatedunderline:hover {
  color:rgba(255,255,255,1);
}
.animatedunderline:hover:after {
  width: 100%;
}



/* HEADER */

header{
	color:#FFFFFF;
    animation-name: example;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}
header h1{
   font-size: 1rem;
   font-family:'Roboto Condensed', Helvetica, sans-serif;
}
header h2{
   font-size: 1.6rem;
   font-style:italic;
   font-family:Didot, Helvetica, sans-serif;
}


header nav{
	position: fixed;
	width: 100%;
	height: 0px;
	overflow: hidden;
	border-bottom: thin solid #CCC;
	background-color:rgba(255,255,255,1);
	z-index: 100000;
}
header nav li, header nav li ul li{
	padding:0px 2rem;
	display:inline-block;
	font-family:'Roboto Condensed', Helvetica, sans-serif;
}
header nav a{
	font-size: 1rem;
	color: #000;
}

header nav a.animatedunderline:hover {
  color:rgba(0,0,0,1);
}

header nav a.animatedunderline:after {
  background-color:rgba(0,0,0,1);
}










#introPage1, /*#introPage2,*/ #introPage3, #introPage4, #introPage5{
	position:absolute;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
#introPage1{
	/*background-color: White;
	background-color:rgba(102,0,14,1);*/
	z-index:2005;


}
#introPage2{
	background-color:rgba(221,195,174,1);
	z-index:2004;
}
#introPage3{
	background-color:rgba(9,196,187,1);
	z-index:2003;
}
#introPage4{
	background-color:rgba(176,10,10,1);
	z-index:2002;
}
#introPage5{
	background-color:rgba(0,0,0,.85);
	z-index:2006;
	opacity:0;
	display:none;
}


#projectFilter{
	position:absolute;
	z-index:2001;
	top:0px;
	right:0px;
	width:60px;
	height:60px;
}
#filterButton{
	color:black;
	text-align: right;
	position:absolute;
	font-size: 1.5rem;
	font-style:italic;
    font-family:Didot, Helvetica, sans-serif;
	top:20px;
	right:40px;
	width:auto;
	height:30px;
	padding:20px;
	background-color:white;
	cursor:pointer;
}
#filterButton:hover{
        box-shadow: inset 0 0 0 2px #000;
        transition:all 0.3s ease;
}

#filterButton img{
	width:80px;
	height:80px;
}
#filterOverlay{
	position:absolute;
	background-color:rgba(255,255,255,.85);
	display:none;
	opacity:0;
}
#_headerCategoryMenu, #_headerRoleMenu, #_headerSoftMenu{
	color:black;
	width:100%;
	height:10%;
	margin-top:10%;
	text-align:center;
}
#_headerCategoryMenu li, #_headerRoleMenu li, #_headerSoftMenu li{
	list-style: none;
	display:inline;
	cursor:pointer;
	
	vertical-align:middle;

}




#projectContainer{
	position:absolute;
	overflow-x:hidden;
	overflow-y:scroll;
	z-index:2000;
	width:100%;
	height:100%;
	-webkit-overflow-scrolling: touch;
}

.project{
	position:absolute;
	overflow:hidden !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	cursor: pointer;
}
.project .img-over{
	position:absolute;
	background-color:#000;
	width:100%;
	height:100%;
	opacity:0;
}
.project .img-container{
	position:absolute;
	width:100%;
	height:100%;
}
.project .img-over-caption{
	position:absolute;
	width:90%;
	height:90%;
	text-align:center;
	color:white;
	padding:20px;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
.project .img-over-caption h1{
	padding-top:20%;
	font-size:64px;

}
.project .img-over-caption h3{
	font-size:18px;
	font-weight:100;
	line-height: 100%;
	font-family: latin_modern_roman_caps10Ob;
}
.project .img-over-caption h3 span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;  
}
.project img{
	position:relative;
	width:100%;
}
#videocontainer{
	position:absolute;
}
#videocontainer iframe{
	display:block;
	margin:100px auto;

	width: 800px;
	height: 450px;

	border:none;
}

/* --- comment --- */
#boxForComment {
  width: 100%;
  height: 1000%;
  z-index: 20001; 
  display:none;
  color: #FFF;

  overflow:hidden;
 }
 #boxForCommentFooter{
  width: 100%;
  height: 100px;
  cursor:pointer;
  z-index: 20002; 
}
#commentTitle{
	font-family:'latin_modern_roman_caps10Ob';
	font-size:42px;
	width:100%;
	text-align: center;
}
#emailinput{
	position:absolute;
	/*background-color: rgba(0,0,0,.7);*/
	width:800px;
	height:200px;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	margin:auto;
	display:none;
	z-index: 20003; 
}
.commentButton{
	width:200px;
	height:48px;
	cursor:pointer;
	color:#FFF;
	background-color: rgba(9,196,187,1);
	/*border-radius:30px;*/
	display:block;
	margin:auto;
	text-align: center;
	line-height:6px;
	/*font-weight:bold;
	border:white solid thin;*/
	font-size:18px;
	opacity:0.2;
}

#boxForCommentBody{
	max-width:1200px;
	margin:60px auto;
	overflow:hidden;
}
#boxForCommentBody h2{
	text-align: center;
	font-size: 1.5rem;
}
.commentTextBox{
	overflow-y:hidden;
}
textarea#styled {
	width: 100%;
	height: 60%;
	font-size: 360px;
	margin-top:40px;
	padding: 5px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	background-color: rgba(0,0,0,0);
	border:none;
	resize: none;
}
textarea#styled {
  box-shadow:none !important;
  border: none;
  outline: none !important;
}
 
textarea#styled:focus {
  box-shadow:none !important;
  border: none;
  outline: none !important;
}

/*for Webkit*/
textarea#styled:-webkit-input-placeholder {
	color: #666 !important;
}

/*for Firefox*/
textarea#styled:-moz-placeholder {
	color: #666 !important;
}

#emailinput section{
	max-width:400px;
	width:40%;
	display:block;
	margin:auto;
}
.input-list{
	-webkit-padding-start:0px;
}
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  color:#FFF;
  background-color: rgba(0,0,0,0);
}
input[type="text"]:focus {
  outline: none;
}
.style-2 input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
  border: solid 5px #969696;
}


.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 64px;
  height: 64px;
  opacity: 0.3;
  display:none;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
 	 position: absolute;
	 left: 15px;
	 content: ' ';
	 height: 66px;
	 width: 2px;
	 background-color: #FFF;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/* --- Filter ---*/
._myProjectSort1{
	font-weight:bold;
	font-family:Raleway, Helvetica, sans-serif;
	font-size:3rem;
	margin:1rem 3rem;
}
._myProjectSort2{
	font-style:italic;
	font-family:Didot, Helvetica, sans-serif;
	font-size:6rem;
	margin:1rem 3rem;
}
._myProjectSort3{
	font-style:italic;
	font-weight:bold;
	font-family:Raleway, Helvetica, sans-serif;
	font-size:2rem;
	margin:1rem 3rem;
}
#_headerSoftMenu{
	cursor: pointer;
	margin:8rem 0rem;
}

#_headerCategoryMenu{
	cursor: pointer;
	margin:8rem 0rem;
}
#_headerRoleMenu{
	cursor: pointer;
	margin:8rem 0rem;
}
#_headerSoftMenu span{
	display:inline-block;
}

#_headerCategoryMenu span{
	display:inline-block;
}
#_headerRoleMenu span{
	display:inline-block;
}


/* --- Project Single ---*/
._projectTitle, ._projectSubttle{
	text-align:left;
	font-family:Raleway, Helvetica, sans-serif;
}
._projectTitle{
	font-size:6rem;
	margin:4rem 0rem;
}
._projectSubttle{
	font-size:2.2rem;
	margin:2rem 0rem;
	font-style:italic;
}
._imageTextBox{
	padding-top:20px;
	text-align:left;
	max-width:1280px;
	color:#000;
	padding:20px 15px;
	background:rgba(255,255,255,255.5);
	margin: 0px auto;
	margin-bottom:120px;
}
#informationList{
	width:30%;
	float:left;
}
.informationList{
	font-size:1.0rem;
	line-height: 1.8rem;
	padding:2px 0px;
	font-family:Lora, Helvetica, sans-serif;
}
.informationDescription{
	width:65%;
	float:right;
	font-size:1.0rem;
	line-height: 1.8rem;
	font-family:Lora, Helvetica, sans-serif;
	/*font-family:Didot, Helvetica, sans-serif;*/
}
._imageViewers img {
	margin:20px auto;
	width: 100%;
	max-width: 1280px;
	/*border: solid medium #F9F9F9;*/
}


/* FOOTER */
footer{
  
	width:100%;
	background-color:#000;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	padding:100px 0px;
	font-weight:thin;
}
footer .outercontainer{
	width:100%;
	max-width:1280px;
	margin:0px auto;

}
footer .innercontainer1, footer .innercontainer2, footer .innercontainer3{
	float:left;
}
footer .innercontainer1{
	width:66%;
}
footer .innercontainer2{
	display:none;
}
footer .innercontainer3{
	width:33%;
}
footer .innercontainer1 div{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-count:none; /* Chrome, Safari, Opera */
    -moz-column-count:none; /* Firefox */
    column-count:none;

	-webkit-column-width:50%; /* Chrome, Safari, Opera */
    column-width:50%;
}
footer ul{
	-webkit-padding-start: 0px;
}
footer li{
	padding: 8px 0px;
}

footer ul li section a{
	color:#666;
}
footer .footerprojectfilter ul{
	padding-left:20px;
}



@media screen and (max-width: 1600px){
	#_headerCategoryMenu span{
		font-size:3.2rem;
	}
	#_headerRoleMenu span{
		font-size:3.2rem;
	}
	#_headerSoftMenu span{
		font-size:1.6rem;
	}
	
}
@media screen and (max-width: 1024px){
	._projectTitle{
		font-size:4.2rem;
	}
	._projectSubttle{
		margin-bottom:15px;
		padding-bottom:50px;
		font-size:2.8rem;
	}
	#informationList{
		width:100%;
		padding-bottom:2rem;
		border-bottom: #CCC thin solid;
		float:none;
	}
	.informationList{
		font-size:1.8rem;
	}
	.informationDescription{
		font-size:1.8rem;
		line-height:3.2rem;
		width:100%;
		float:none;
		padding-top:2rem;
	}
	/* --- Filter ---*/
	#_headerCategoryMenu{
		display: table;
	}
	#_headerRoleMenu{
		display: table;
	}
	#_headerSoftMenu{
		display:none;
	}

	#_headerCategoryMenu{
	margin:4rem 0rem;
	}
	#_headerRoleMenu{
		margin:4rem 0rem;
	}

	#_headerCategoryMenu span, #_headerRoleMenu span{
		display: table-row;
		font-size:3.2rem;
		line-height:5.2rem;
	}


	header nav{
		position:inherit;
		height:100px;
	}
	header nav a{
		line-height: 4rem;
		font-size: 2rem;
	}

	footer .innercontainer1, footer .innercontainer3{
		font-size: 1.8rem;
		width:45%;
		margin:0 2.5%;
	}
	
	footer .innercontainer1 div{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	}

	footer a{
		font-size: 1.6rem;
	}
}
@media screen and (max-width: 760px){
	._projectTitle{
		font-size:3.6rem;
	}
	._projectSubttle{
		margin-bottom:10px;
		padding-bottom:10px;
		font-size:2.1rem;
	}
	.informationList{
		font-size:1.4rem;

	}
	.informationDescription{
		font-size:1.4rem;
		line-height:2.8rem;
	}
	/* --- Filter ---*/
	#_headerCategoryMenu{
		margin:2rem 0rem;
		
	}
	#_headerRoleMenu{
		margin:2rem 0rem;
	}
	#_headerCategoryMenu span, #_headerRoleMenu span{{
		font-size:2.4rem;
		line-height:3.6rem;
	}


}

@media screen and (max-width: 640px){
	/* --- Filter ---*/
	#_headerCategoryMenu{
		margin:1.8rem 0rem;
	}
	#_headerRoleMenu{
		margin:1.8rem 0rem;
	}
	#_headerCategoryMenu span, #_headerRoleMenu span{
		font-size:2rem;
		line-height:3.2rem;
	}
}



