div.outercontainer
	div.footerIcons
		div.footerIcon
			a.footerIconImage(href="mailto:takuma.kakehi@gmail.com")
				img(src="assets/icon-email.png")
			div.footerIconText
				section
					a.linktotop.animatedunderline#linktotopa(href="mailto:takuma.kakehi@gmail.com") Contact
		div.footerIcon
			a.footerIconImage(href="/blog" target="_blank")
				img(src="assets/icon-blog.png")
			div.footerIconText
				section
					a.linktotop.animatedunderline#linktotopa(href="/blog" target="_blank") Research & Observations
		div.footerIcon
			a.footerIconImage(href="https://www.instagram.com/takuma.kakehi" target="_blank")
				img(src="assets/icon-instagram.png")
			div.footerIconText
				section
					a.linktotop.animatedunderline#linktotopa(href="https://www.instagram.com/takuma.kakehi" target="_blank") Instagram
	div.footerCopyrights All images are property of the respective brand unless otherwise stated.