doctype html
html(lang="en" ng-app="myApp" ng-controller="myProjects")
	head
		title(ng-cloak) OPTMYST : Portfolio
		link(rel="stylesheet" type="text/css" href="css/style.min.css")
		link(rel="stylesheet" type="text/css" href="css/frontPage.min.css")
		link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic' rel='stylesheet' type='text/css')
		meta(charset="UTF-8")
		meta(name="robots" content="noindex")
		//- Angular
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js")
		//- jQuery
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		//- Variables per Page
		script(type='text/javascript').
			var projectPage = false;
			// -- Page Categorization
			var _$currentPageType = "top";
		//- Library
		script(src="js/jquery.transform2d.js")
		script(src="js/jquery.mousewheel.min.js")
		script(src="js/jquery.cookie.js")
		//- Project JS File
		script(src="js/contact.min.js")
		script(src="js/filter.min.js")
		script(src="js/commonfunction.min.js")
		//-- Per Pages
		script(src="js/frontPage.min.js")
		body
			div#projectFilter
				div.filterOverlay#filterL.filterClosed
				div.filterOverlay#filterR.filterClosed
				div.filterTexts.filterClosed.filterClosedDisappear
					div#_headerCategoryMenu.filterClosed.filterClosedDisappear
						span.sortButton.selected(ng-repeat="category in myFiltersCat" id="_myProjectSort{{category.nameid}}" data-numb="{{$index}}" ng-click="sortProject($event, category)")
							a.animatedunderline.black {{category.name}}
					div#_headerRoleMenu.filterClosed.filterClosedDisappear
						span.sortButton.selected(ng-repeat="role in myFiltersRole" id="_myProjectSort{{role.nameid}}" data-numb="{{$index}}" ng-click="sortProject($event, role)")
							a.animatedunderline.black {{role.name}}
					div#_headerSoftMenu.filterClosed.filterClosedDisappear
				//-div#filterButton Filter
			div.svg-wrapper
				span
				span
				span
				svg(height="60" width="60" xmlns="http://www.w3.org/2000/svg")
					rect.shape(height="60" width="60")
			div#projectContainer
				
				//- PROJECTS

				//-div#projectContainer(ng-controller="myProjects")
				div.project(ng-repeat="n in myProjects" id="project{{n.id}}" data-nameid = "{{n.id}}" style="'opacity':'0',  '-webkit-transform': 'scale(0,0)', '-moz-transform': 'scale(0,0)', '-ms-transform': 'scale(0,0)','-o-transform':'scale(0,0)','transform': 'scale(0,0)'")
					img.img-container.closed(ng-src="img/thumb/{{n.thumb}}")
					div.img-over.closed
					div.img-over-caption.closed
						h1 {{n.title}}
						h3
							span {{n.subtitle}}

				//- FOOTER

				footer.closed(ng-include="'footer.html'" style="visibility: hidden;")

			form#contactForm(action="mail.php" method="POST")
				div#introPage5
					a.close(href="#")
					div#boxForComment
						div#boxForCommentBody
							h2 Please Feel Free to Message
							textarea.commentTextBox#styled(name="message" placeholder="..." onfocus="")
						div.commentButton#commentOk OK
				div#emailinput
					section
						ul.input-list.style-2(style="list-style:none;")
							li
								input(type="text" placeholder="your email" name="email")
						button.commentButton#emailSend(type="submit") Send Message
		script(src="js/app.min.js")

						