doctype html
html(lang="en" ng-app="myApp" ng-controller="myProjects")
	head
		title(ng-cloak) {{myProject.title}}
		link(rel="stylesheet" type="text/css" href="css/style.min.css")
		link(rel="stylesheet" type="text/css" href="css/single.min.css")
		link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic' rel='stylesheet' type='text/css')
		meta(charset="UTF-8")
		meta(name="robots" content="noindex")
		//- Angular
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js")
		//- jQuery
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		//- Variables per Page
		script(type='text/javascript').
			var projectPage = true;
			// -- Page Categorization
			var _$currentPageType = "project";
		//- Library
		script(src="js/jquery.transform2d.js")
		script(src="js/jquery.mousewheel.min.js")
		script(src="js/jquery.cookie.js")
		//- Project JS files
		script(src="js/contact.min.js")
		script(src="js/filter.min.js")
		script(src="js/commonfunction.min.js")
		body(ng-controller="myProjects")
			header
				nav.desktop
					div.headerIcon.backButton
						div.arrowLeft
					//-div.headerIcon.gridIcon
						img(src="img/icons/gridIcon.png")
					div.headerIcon.expandIcon
						span
						span

			//- Project

			div.singleProjectBody
				div.singleProjectInfoContainer
					h1._projectTitle.angularFade.sec1 {{myProject.title}}
					h2._projectSubttle.angularFade.sec2 {{myProject.subtitle}}
					div.projectCategory.angularFade.sec3
						ul
							li.projectCat(ng-repeat="category in myCategories") {{category.name}}
							li.projectRole(ng-repeat="role in myRoles") {{role.name}}
							li.projectSoft(ng-repeat="software in mySoftwares") {{software.name}}
					div.detailInformationContainer
						div.line.sec1
						div#informationList
							div.informationList.angularFade.sec3
								div.informationListTitle Client / Workplace:
								div.projectClient {{myProject.client}}
							div.informationList.angularFade.sec3
								div.informationListTitle Year :
								div.projectYear {{myProject.year}}
							div.informationList.angularFade.sec3
								div.informationListTitle Project Status :
								div.projectStatus {{myProject.status}}
							div.line.sec2
						div.informationDescription.angularFade.sec4(ng-bind-html="myProject.desc")
						div(style="clear: both;")
						div.line.sec2

				//- Images

				div.singleProjectImageContainer.sizeDefault

					div.projectVisuals(ng-repeat="resource in myProject.visuals.resources" id="projectVideo{{$index}}")
						
						h2.projectDescriptionTitle(ng-if="resource.type == 'h2'" ng-bind-html="resource.content")
						p.projectDescription(ng-if="resource.type == 'text'" ng-bind-html="resource.content")
						
						div(ng-if="resource.type == 'img'")
							img(ng-src="{{'img/' + resource.src | trustAsResourceUrl}}")
							div.photoCredit {{resource.caption}}

						video(ng-if="resource.type == 'vid'" ng-src="{{'vid/' + resource.src | trustAsResourceUrl}}" controls loop  muted  autoplay vg-poster="img/"+"resource.poster") Sorry, Your browser doesn't support HTML5 video tag.
						div.youtubeLink(ng-if="resource.type == 'vid' && resource.youtube != ''" ) View this video in &nbsp;
							a(ng-href="{{resource.youtube}}") Youtube


					div.projectSpecialContent
			
			//- FOOTER
			
			footer.closed(ng-include="'footer.html'" style="visibility: hidden;")

		//-- Per Pages
		script(src="js/projectPage.min.js")
		script(src="js/app.min.js")